@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  margin: 0;
  font-family: "Jua", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

h1,
h2,
h3 {
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__head {
  font-size: 3rem;
}

.title__subtitle {
  font-size: 1.5rem;
  color: #55595e;
}

.title__number {
  font-size: 1rem;
  color: #55595e;
}
